<h2>{{title}}</h2>
<p>{{body}}</p>

{{#each items}}
	<p><em>{{item}}</em> || {{datetime}}</p>
	<p>{{body}}</p>
	<br/>
{{/each}}

<form method="post" action="/post/{{_id}}">
	<p>Item: <input type="text" name="item" /></p>
	<textarea name="postbody"></textarea><br/>
	<input type="submit" />
</form>